.adventure-page {
    .adventure-page-title-container {
        margin: 3em 0;
        text-align: center;
    }
}

.adventure-list-container { 
    .adventure-card-container {
        width: 100%;
        margin: 1em 0;
        padding: 1em;
        text-align: center;
        background-color: #fff;
        border-radius: .5em;
        box-shadow: 0 1px 22px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);

        &:hover {
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }

        h3 {
            text-align: center;
            color: #000;
        }

        .adventure-card-info-container {
            @include flexboxGrid; 

            .adventure-card-info {
                width: 50%;

                p {
                    color: #000;
                }
            }
        }
    }
}

//Tablet and Desktop
@media only screen and (min-width: 768px) {
    .adventure-list-container {
        @include flexboxGrid;       

        .adventure-card-container {
            width: 30%;
            margin: 1em;
        }
    }
}