
.link-card-block-link {
    &:hover {
        .link-card-block-container {
            background-color: #e1e1e1;
        }
    }

    .link-card-block-container {
        text-align: center;
        background-color: #fff;
        padding: 1em;
        margin-bottom: 1em;
        border-radius: .25em;
    
        .link-card-block-title {
            font-size: 1.2em;
            color: #000;
        }
    }
}

//DESKTOP VIEW
<<<<<<< HEAD
@media only screen and (min-width: 1120px) {
=======
@include desktop-only {
>>>>>>> new-branch
    .link-card-block-container {
        margin-bottom: 0;
    }
}