.single-adventure-container {
    margin: 2em auto;

    .single-adventure-hero-container {
        position: relative;

        .single-adventure-hero-image {
            filter: brightness(50%);

            img {
                display: block;
            }
        }
    
        .single-adventure-title-container {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: .25em 1em;
            color: #fff;
    
            h1 {
                margin-bottom: 0;
                font-size: 1.5em;
            }

            .single-adventure-location {
                margin-bottom: 0;
            }
        }
    }
}

.rating-descriptive-text img {
    filter: hue-rotate(180deg);
}

// tablet and desktop
@include tablet-and-desktop {
    .single-adventure-container {
        @include flexboxGrid;

        .single-adventure-hero-container {
            @include flexboxGrid;
            width: 50%;
        }

        .single-adventure-info-container {
            width: 50%;
        }
    }
}